@model IEnumerable<DigitalGameStore.Models.GameGenre>

@{
    ViewData["Title"] = "Index";
}

<h1>Genres</h1>

<p>
    <a asp-action="Create" class="btn btn-success btn-sm mt-2">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
				<td>
				<a asp-action="Details" asp-route-id="@item.GenreId" class="btn btn-primary btn-sm mt-2">Games</a>
                <a asp-action="Edit" asp-route-id="@item.GenreId" class="btn btn-warning btn-sm mt-2">Edit</a>
                <a asp-action="Delete" asp-route-id="@item.GenreId" class="btn btn-danger btn-sm mt-2">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
