@model DigitalGameStore.Models.Catalogue

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Catalogue: @Html.DisplayFor(model => model.Name)</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Name)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Name)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Description)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Description)
        </dd>
    </dl>

    @if (Model.Games != null && Model.Games.Any())
    {
        <h5>Items in this Catalogue:</h5>

        @foreach (var item in Model.Games)
        {
            <div class="mb-4 p-3 border rounded bg-light">
                <p><strong>Name:</strong> @item.Name</p>
                <p><strong>Publication Date:</strong> @item.PublicationDate.ToShortDateString()</p>
                <p><strong>Price:</strong> @item.Price eur</p>
                <p><strong>Genre:</strong> @item.Genre</p>
                <p><strong>Publisher:</strong> @item.Publisher.Username</p>
            </div>
        }
    }
    else
    {
        <p><em>No items in this catalogue.</em></p>
    }
</div>
<div>
    <form asp-action="Edit" asp-route-id="@Model?.CatalogueId" method="get" style="display:inline;">
        <button type="submit" class="btn btn-warning btn-sm">Edit</button>
    </form>
    <form asp-action="Index" method="get" style="display:inline;">
        <button type="submit" class="btn btn-light btn-sm">Back to List</button>
    </form>
</div>
