@model IEnumerable<DigitalGameStore.Models.Catalogue>

@{
    ViewData["Title"] = "Index";
}

<h1>Catalogues</h1>

<p>
    <form asp-action="Create" method="get" style="display:inline;">
        <button type="submit" class="btn btn-success btn-sm">Create New</button>
    </form>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Description)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Description)
            </td>
            <td>
                <form asp-action="Edit" asp-route-id="@item.CatalogueId" method="get" style="display:inline;">
                    <button type="submit" class="btn btn-warning btn-sm">Edit</button>
                </form>

                <form asp-action="Details" asp-route-id="@item.CatalogueId" method="get" style="display:inline;">
                    <button type="submit" class="btn btn-primary btn-sm">Details</button>
                </form>

                <form asp-action="Delete" asp-route-id="@item.CatalogueId" method="get" style="display:inline;">
                    <button type="submit" class="btn btn-danger btn-sm">Delete</button>
                </form>
            </td>
        </tr>
}
    </tbody>
</table>
