@model DigitalGameStore.Models.Licence

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Licence</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Name)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Name)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Description)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Description)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.User)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.User.Username)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Game)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Game.Name)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-UserId="@Model.UserId" asp-route-GameId="@Model.GameId" class="btn btn-warning btn-sm">Edit</a>
    <a asp-action="Index" class="btn btn-light btn-sm mt-2">Back to List</a>
</div>
